This is a collection of all common python codes for data cleaning and modifications. 

Note: This list is not exhaustive. And it may be updated and revised from time to time.

Created by: Grace Choo

Date of Creation: 19 September 2022

# List

## initiate / create an empty list

In [ ]:
list = []

## combine 2 lists. add all elements at the back

In [ ]:
list3 = list1 + list2

In [ ]:
list3 = list1.extend(list2)

## Remove duplicated values in List

In [ ]:
mylist = ["a", "b", "a", "c", "c"]
mylist = dict.fromkeys(mylist)
print(mylist)

## Convert List into Dataframe

In [ ]:
list = ["a", "b", "a", "c", "c"]
df = pd.DataFrame(list)

## Convert Dataframe into List

In [ ]:
list = df[['Col1']].values.tolist()

## most commonly used

to record data by appending small dataframes into 1 list and then concatenate them into 1 big dataframes

# loc and iloc

## loc

In [ ]:
df.loc['viper']

## iloc

index-based to select rows and/or columns.

Concept = df.iloc[Start:Stop:Step, Start:Stop:Step]. First is select row and after comma, is referring to select columns.

# Text or Strings

## Finding Substrings

### .find() method

In [ ]:
text = "Where is Waldo?"
print(text.find("Waldo"))
print(text.find("Waldo",0,2)) # -1 means cannot find
print(text.find("Waldo",0,len(text)))

### .index() method

In [ ]:
text = "Where is Waldo?"
text.index("Waldo")

## Count how many times a word appears

In [ ]:
text = "How many fruits do you have in your fruit basket?"
print(text.count("fruit"))
print(text.count("fruit",0,16))

## Replace Substrings

string.replace(old,new,count)

In [ ]:
Text = "The red house is between the blue house and the old house."
print(Text.replace("house", "car"))
print(Text.replace("house", "car",2)) #this only replace the first 2 occurance. Eg, this only replace the first 2 house words. the last one is not replaced.

# Columns

## Get columns with similar names

Produces a list of column names that contains "MTD_"

In [ ]:
col_list = [col for col in df.columns if 'MTD_' in col]

In [ ]:
df = df[[col_list]]

## Drop Columns

### Drop columns if ALL NaN values

In [ ]:
# Drop columns that has ALL NaN values
df2=df.dropna(axis=1,how='all')

### Drop columns if one of the values are nan or null

In [ ]:
# Drop all columns with NaN values
df2=df.dropna(axis=1)
print(df2)

### Drop Single Column

In [ ]:
df.drop("COL1", axis=1, inplace=True)

### Drop Multiple Columns

In [ ]:
df.drop(["COL1","COL2","COL3"], axis = 1, inplace = True)

### Drop Columns only if Exists

In [ ]:
# this will ignore error code if the columns do not exist
df.drop(["COL1","COL2","COL3"], axis=1, inplace= True, errors='ignore')

## Rename Columns

### Rename Specific Columns

In [ ]:
df.rename(columns = {'old_col1':'new_col1', 'old_col2':'new_col2'}, inplace = True)

### Rename all Columns

In [ ]:
#rename all columns
#Note: column arrangement is important.
df.columns = ['New_COL1','New_COL2','New_COL3']

## Rearrange Columns

In [ ]:
#This is also a way to keep wanted columns
df = df[['VAR1','VAR2','VAR3']]

## Get max/min values across columns

In [ ]:
df['MAX'] =  df[['COL1','COL2']].max(axis=1)
df['MIN'] =  df[['COL1','COL2']].min(axis=1)

## Adding Leading 0 to a column

In [ ]:
#convert column into string
df['COL1'] = df['COL1'].astype(str)
#Add leading zero (total length = 4)
df['COL1'] = df['COL1'].str.zfill(4)

## Substring Columns

In [ ]:
df['col1'] = df['col'].str[:9]

### Common Substring dates:

## Get Max number of lengths for all df columns

In [ ]:
#maxColumnLenghts = []
for col in range(len(df.columns)):
    #maxColumnLenghts.append(max(df.iloc[:,col].astype(str).apply(len)))
    print(df.columns[col] + ": " + str(max(df.iloc[:,col].astype(str).apply(len))))

# Rows

## Get number of rows in dataframe

In [ ]:
len(df)

## Randomly select sample rows

### Randomly select based on percentage

In [ ]:
#select 50%
df = df.sample(frac=0.50)

### Randomly select based on number of rows

In [ ]:
df = df.sample(n=100000)

## Filter Rows Based on string length

### Filter based on 1 condition

In [ ]:
df = df.loc[df['col1'].str.len() == 5]

### Filter based on multiple conditions

In [ ]:
df = df.loc[(df['col1'].str.len() == 5) & (df['col2'].str.len() == 7)]

In [ ]:
df.drop_duplicates(keep='last')

# String

## Keep only Charaters and Numbers in a column

In [ ]:
df["COL1"] = df.COL1.str.replace(r'[^A-Za-z0-9 ]+', ' ')

## Remove leading and trailing blanks

In [ ]:
df['COL1'] = df['COL1'].str.strip()

## Remove multiple spaces and only leave 1 space

In [ ]:
df.COL1 = df.COL1.replace(r'\s+', ' ', regex=True)

## Remove all spaces

In [ ]:
df.COL1 = df.COL1.replace(r'\s+', '', regex=True)

### on multiple columns:

In [ ]:
ColList = ['COL1','COL2','COL3'] 
df[ColList] =df[ColList].replace(r'\s+', '', regex=True)

# Regular Expression

In [ ]:
import re

In [ ]:
re.findall(r"regex",string)

## Split string with each match character

In [ ]:
re.split(r"regex",string)

## replace one or many matches with a string

In [ ]:
re.sub(r"regex",new,string)

#Example:
re.sub(r"yellow", "nice", "I have a yellow car")
#this will turn to I have a nice car

## Specific Metacharacter:

### Digit

In [ ]:
\d #for digit

### Non Digit

In [ ]:
\D #for non Digit

### word(both digit and non digit)

In [ ]:
\w #for digit and non digit

### non word

In [ ]:
\W
#for example: re.findall(r"\W\d", "This shirt is on sale only $5 off") will return "$5" because the regex is a non word followed by a digit

### white space

In [ ]:
\s #search for white space

### nonwhite space

In [ ]:
\S #search for none white space

# Upper or Upcase

### on one column

In [ ]:
df['COL1'] =  df['COL1'].str.upper()

### on multiple columns

In [ ]:
df[['COL1','COL2','COL3']] = df[['COL1','COL2','COL3']].astype(str).apply(lambda col: col.str.upper())

# If...Then... Create New column based on conditions

## if exact match

In [ ]:
#If COL1 = A then create COL2 where COL2 value is A2.
#If COL1 = B then create COL2 where COL2 value is B2.
df.loc[df['COL1'] == "A", 'COL2'] = 'A2'
df.loc[df['COL1'] == "B", 'COL2'] = 'B2'
df.loc[df['COL1'] == "C", 'COL2'] = 'C2'
df.loc[df['COL1'] == "D", 'COL2'] = 'D2'
df.loc[df['COL1'] == "E", 'COL2'] = 'E2'

## Using np.where()

In [ ]:
import numpy as np
df['COL2'] == np.where(df['COL1']=="A", "A2",
                       np.where(df['COL1']=="B", "B2",
                                np.where(df['COL1']=="C", "C2",
                                         np.where(df['COL1']=="D", "D2","E2"))))

#This functions just like if(logical_test,[value_if_true],[value_if_false]) in excel

# Tables

## Merge Tables

### Merge based on multiple columns

In [ ]:
df3 =  df.merge(df2, on=['VAR1','VAR2','VAR3'], how='inner', indicator = True)
#how = can be {‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’}

### Merge multiple tables at once

In [ ]:
dfmain=df1.merge(df2, on=['Sender_Address','EmailSendDateTime','EmailTitle'], how = 'left') \
.merge(df3, on=['Sender_Address','EmailSendDateTime','EmailTitle'], how = 'left') \
.merge(df4, on=['Sender_Address','EmailSendDateTime','EmailTitle'], how = 'left') \
.merge(df5, on=['Sender_Address','EmailSendDateTime','EmailTitle'], how = 'left')

### Merge based on index

In [ ]:
df_merge = df1.merge(df2, left_index=True, right_index=True, how='inner')
#how = can be {‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’}

### Merge using suffixes.

 default suffixes is {_x, _y}. if there are common column name, this is use to differentiate the columns.

In [ ]:
df_merge = df1.merge(df2, on=['VAR1','VAR2','VAR3'], how='inner', suffixes=('_x', '_y'))

### More info on Merge

https://stackoverflow.com/questions/53645882/pandas-merging-101

## Append Tables

In [ ]:
df3 = df1.append(df2, ignore_index = True)

## Concatenate Tables (also append multiple tables)

In [ ]:
df4 = pd.concat([df1, df2, df3], ignore_index=True)

## Sort Tables

### normal sorting by single column

In [ ]:
df = df.sort_values(by=['VAR1'])

### Descending Sort

In [ ]:
df = df.sort_values(by=['VAR1'], ascending=False)

### Sorting based on more than 1 columns

In [ ]:
# Sorting by columns "VAR1" and then "VAR2"
df = df.sort_values(by=['VAR1', 'VAR2'])

### Sorting Based on more than 1 columns and different directions

In [ ]:
# Sort by two columns. VAR1 is ascending and VAR2 is by descending values
df = df.sort_values(['VAR1', 'VAR2'], ascending = [True, False])

## Duplicates

### keep first row

In [ ]:
#by default, will keep first row
df.sort_values(['VAR1', 'VAR2']).drop_duplicates(subset=['VAR1', 'VAR2'])

### keep last row

In [ ]:
df.sort_values(['VAR1', 'VAR2']).drop_duplicates(subset=['VAR1', 'VAR2'], keep='last')

# Convert Different Data Types

## Convert to Integers

In [ ]:
df['VAR1'] = df['VAR1'].astype(int)

## Convert from Numbers to Strings

### for single column

In [ ]:
df['Col1'] = df['Col1'].astype(str)

### for multiple columns

In [ ]:
df[['Col1','Col2','Col3']] = df[['Col1','Colleading2','Col3']].astype(str)

## Convert from scientific numbers to Strings

In [ ]:
df.Col1 = df.Col1.map(lambda x: '{:.0f}'.format(x))

## convert object to datetime (format like 2022-04-29 11:04:34)

### for single column

In [ ]:
df['DateTime'] =  pd.to_datetime(df['DateTime'], format='%Y-%m-%d %H:%M:%S.%f')

### for multiple columns

In [ ]:
df[['COL1','COL2','COL3']] = df[['COL1','COL2','COL3']].apply(pd.to_datetime)

## get date, time, year, month, day, hour, day of week, YearMonth

In [ ]:
df['Date'] = pd.DatetimeIndex(df['DatetimeCol']).date
df['Time'] = pd.DatetimeIndex(df['DatetimeCol']).time

In [ ]:
df['Year'] = pd.DatetimeIndex(df['DatetimeCol']).year
df['Month'] = pd.DatetimeIndex(df['DatetimeCol']).month
df['Day'] = pd.DatetimeIndex(df['DatetimeCol']).day
df['Hour'] = pd.DatetimeIndex(df['DatetimeCol']).hour

In [ ]:
#Day of the Week (Mon, Tue ...., Sun)
df['_WeekDay'] = pd.DatetimeIndex(df['DatetimeCol']).dayofweek

df['WeekDay'] = np.where(df['_WeekDay']==0,"Mon",
                         np.where(df['_WeekDay']==1,"Tue",
                                  np.where(df['_WeekDay']==2,"Wed",
                                           np.where(df['_WeekDay']==3,"Thu",
                                                    np.where(df['_WeekDay']==4,"Fri",
                                                             np.where(df['_WeekDay']==5,"Sat",
                                                                      "Sun"))))))

In [ ]:
#YearMonth
df['YearMonth']=(df.YearCol.astype(str) + df.MonthCol.astype(str).str.rjust(2, "0")).astype(int)

# Transpose

In [ ]:
df.pivot(index='survey_id', columns='question_number', values='answer').add_prefix('P').reset_index()

## Transpose rows to columns using .groupby

In [ ]:
#the rows will be unique by 'VAR1','VAR2','VAR3' and VAR4 values will be placed by columns. number of columns created depends on how many rows for each group by columns combinations have.
df.groupby(['VAR1','VAR2','VAR3'])['VAR4'].apply(lambda df: df.reset_index(drop=True)).unstack()

### Commonly use

In [ ]:
#transpose using .groupby. 
df.groupby(['VAR1','VAR2','VAR3'])['VAR4'].apply(lambda df: df.reset_index(drop=True)).unstack()

#to find out how many new columns after transpose.
df_headers = list(df.columns.values)

#combined all new columns into 1 column and add "; " in between columns
df['NewCombineCol'] = df[df_headers].apply(lambda row: '; '.join(row.values.astype(str)), axis=1)

#keep only concatinated columns and reset index.
df_transposed = df[['NewCombineCol']].reset_index()

#remove any empty columns which happen to be combined
df_transposed['NewCombineCol']=dfReceive['NewCombineCol'].str.replace('nan;', '')

#remove any multiple empty spaces.
df_transposed.NewCombineCo = df_transposed.NewCombineCo.replace(r'\s+', ' ', regex=True)

#remove last nan values.
df_transposed['NewCombineCo'] = df_transposed['NewCombineCo'].str.replace('; nan', ';')

## Transpose columns to rows

In [ ]:
df2 = df.melt(id_vars=['Col1','Col2'])

# Encrypt and Decrypt Functions

In [ ]:
def get_cipherletter(new_key, letter):
    #still need alpha to find letters
    alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
    
    if letter in alpha:
        return alpha[new_key]
    else:
        return letter

def encrypt(key, message):
    message = message.upper()
    alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
    result = ""

    for letter in message:
        new_key = (alpha.find(letter) + key) % len(alpha)
        result = result + get_cipherletter(new_key, letter)
    return result

def decrypt(key, message):
    message = message.upper()
    alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
    result = ""

    for letter in message:
        new_key = (alpha.find(letter) - key) % len(alpha)
        result = result + get_cipherletter(new_key, letter)
    return result

In [ ]:
#Example:
word="Hello9!"
print(word)

encrypted = encrypt(-8,word)
print(encrypted)

word2="96DDG1!"
decrypted = decrypt(-8,word2)
print(decrypted)

## to encrypt pandas df column

In [ ]:
df['Unique_ID1'] = df['Unique_ID'].apply(lambda x: encrypt(-4, x))

## to decrypt  pandas df column

In [ ]:
df['Unique_ID2'] = df['Unique_ID1'].apply(lambda x: decrypt(-4, x))

# Dealing with Nan missing or Null values

## Columns have Nan values, replace with 0

In [ ]:
#VAR1 have some nan values. will them with 0
df['VAR1'] = df['VAR1'].fillna(0)

## For entire dataframes

In [ ]:
df.fillna(0)